:root {
    --yellow: #FCB72B;
    --dark-navy: #495567;
    --dim-grey: #939CAA;
    --light-grey: #E5ECF4;
    --snow: #F2F5F9;
    --light-yellow: #FFF4DF;
    --white: #fff;
    --hero-mask: linear-gradient( rgba(73, 85, 103, 0.8), rgba(73, 85, 103, 0.8));
}


/* START TABLET VERSION  */

@media screen and (min-width:380px) and (max-width:800px) {
    .container {
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .hero__info-first-image {
        display: none;
    }
    .hero__info-second-image {
        position: absolute;
        left: -127px;
        bottom: 77px;
    }
    .hero__title {
        margin: 0 auto;
        text-align: center;
    }
    .hero__info img:nth-child(4) {
        position: absolute;
        right: -31px;
        bottom: 45px;
    }
    .site-hero {
        background-image: var(--hero-mask), url(../images/tablet-bg-hero.png);
        background-position: 0 0;
        background-size: cover;
        padding-top: 137px;
        padding-bottom: 217px;
    }
    .hero__info-group {
        max-width: 573px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__btn {
        margin-top: 32px;
    }
    .hero__info-text {
        text-align: center;
    }
    .get-start__list {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        padding-left: 52px;
        padding-right: 52px;
    }
    .get-start::before {
        width: 20px;
        height: 513px;
        top: 0;
        left: 130px;
    }
    .get-start__item {
        max-width: 603px;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 40px;
    }
    .get-start__item::before {
        width: 96px;
        height: 96px;
    }
    .get-start__item-wrapper {
        margin: 0;
        max-width: 400px;
    }
    .easy__img {
        position: relative;
        right: -210px;
        height: 445px;
        margin-bottom: 56px;
    }
    .easy {
        padding: 0;
        padding-bottom: 138px;
    }
    .zero {
        padding: 0;
        padding-bottom: 138px;
    }
    .coming {
        padding: 0;
        padding-bottom: 138px;
    }
    .easy__container {
        flex-direction: column-reverse;
    }
    .coming__container {
        flex-direction: column;
    }
    .coming__img {
        position: relative;
        left: -210px;
        height: 445px;
        margin-bottom: 56px;
    }
    .coming__info {
        max-width: 573px;
        align-items: center;
        justify-content: center;
    }
    .zero__info {
        max-width: 573px;
        align-items: center;
        justify-content: center;
    }
    .zero__container {
        flex-direction: column-reverse;
    }
    .zero__img {
        position: relative;
        right: -210px;
        height: 445px;
        margin-bottom: 56px;
    }
    .easy__info {
        max-width: 573px;
        align-items: center;
        justify-content: center;
    }
    .info__title {
        text-align: center;
        max-width: 457px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .info__text {
        text-align: center;
    }
    .info__btn {
        margin: 0 auto;
        margin-top: 40px;
    }
    .sign-up {
        background-position: center 150px;
    }
    .sign-up__container {
        flex-direction: column;
        justify-content: center;
    }
    .sign-up__title {
        text-align: center;
        margin-bottom: 40px;
    }
    .sign-up__btn:first-child {
        margin-right: 12px;
    }
    .sign-up__btn:first-child img {
        width: 114px;
        height: 40px;
    }
    .sign-up__btn:last-child img {
        width: 130px;
        height: 40px;
    }
    /* ABOU PAGE  */
    .about__title {
        margin-left: 57px;
    }
    .mobility__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .mobility__img {
        position: unset;
        position: relative;
        right: -25px;
        margin-bottom: 56px;
    }
    .about__mobility-info {
        max-width: 573px;
    }
    .better__container {
        flex-direction: column;
    }
    .better__img {
        position: unset;
        position: relative;
        left: -80px;
        margin-bottom: 56px;
    }
    .about__better-info {
        max-width: 573px;
    }
    .values__list {
        flex-direction: column;
    }
    .values__item:not(:last-child) {
        margin-bottom: 55px;
    }
    .values__item-text {
        max-width: 457px;
        margin: 0 auto;
    }
    .faqs__how-works {
        flex-direction: column;
    }
    .faqs__how-work-title {
        margin: 0 auto;
        margin-bottom: 32px;
    }
    /* CAREERS PAGE  */
    .careers__title {
        margin-left: 50px;
    }
    .care__container {
        flex-direction: column-reverse;
    }
    .care__img {
        right: -30px;
        margin-bottom: 56px;
    }
    .careers__care-info {
        max-width: 573px;
    }
    /* LOCATION PAGE  */
    .location__title {
        margin-left: 50px;
    }
    .locations__map {
        width: 690px;
        height: 340px;
    }
    .locations__info .container {
        flex-direction: column;
        justify-content: center;
    }
    .locations__title {
        max-width: 457px;
        text-align: center;
    }
    .locations__text {
        max-width: 573px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


/* START MOBILE VERSION  */

@media screen and (max-width:375px) {
    /* STYLES  */
    .hero__info-first-image {
        display: none;
    }
    .hero__info-second-image {
        position: absolute;
        left: -127px;
        bottom: 77px;
    }
    .hero__title {
        margin: 0 auto;
        text-align: center;
    }
    .hero__info img:nth-child(4) {
        position: absolute;
        right: -31px;
        bottom: 45px;
    }
    .site-hero {
        background-image: url(../images/hero-mobile-bg.png);
        background-position: 0 0;
        background-size: cover;
        padding-top: 137px;
        padding-bottom: 217px;
    }
    .hero__info-group {
        max-width: 573px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__btn {
        margin-top: 32px;
    }
    .hero__info-text {
        text-align: center;
    }
    .get-start__list {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        padding-left: 52px;
        padding-right: 52px;
    }
    .get-start::before {
        width: 20px;
        height: 513px;
        top: 0;
        left: 130px;
    }
    .get-start__item {
        max-width: 603px;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 40px;
    }
    .get-start__item::before {
        width: 96px;
        height: 96px;
    }
    .get-start__item-wrapper {
        margin: 0;
        max-width: 400px;
    }
    .easy__img {
        position: relative;
        right: -210px;
        height: 445px;
        margin-bottom: 56px;
    }
    .easy {
        padding: 0;
        padding-bottom: 138px;
    }
    .zero {
        padding: 0;
        padding-bottom: 138px;
    }
    .coming {
        padding: 0;
        padding-bottom: 138px;
    }
    .easy__container {
        flex-direction: column-reverse;
    }
    .coming__container {
        flex-direction: column;
    }
    .coming__img {
        position: relative;
        left: -210px;
        height: 445px;
        margin-bottom: 56px;
    }
    .coming__info {
        max-width: 573px;
        align-items: center;
        justify-content: center;
    }
    .zero__info {
        max-width: 573px;
        align-items: center;
        justify-content: center;
    }
    .zero__container {
        flex-direction: column-reverse;
    }
    .zero__img {
        position: relative;
        right: -210px;
        height: 445px;
        margin-bottom: 56px;
    }
    .easy__info {
        max-width: 573px;
        align-items: center;
        justify-content: center;
    }
    .info__title {
        text-align: center;
        max-width: 457px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .info__text {
        text-align: center;
    }
    .info__btn {
        margin: 0 auto;
        margin-top: 40px;
    }
    .sign-up {
        background-position: center 150px;
    }
    .sign-up__container {
        flex-direction: column;
        justify-content: center;
    }
    .sign-up__title {
        text-align: center;
        margin-bottom: 40px;
    }
    .sign-up__btn:first-child {
        margin-right: 12px;
    }
    .sign-up__btn:first-child img {
        width: 114px;
        height: 40px;
    }
    .sign-up__btn:last-child img {
        width: 130px;
        height: 40px;
    }
    /* ABOU PAGE  */
    .about__title {
        margin-left: 57px;
    }
    .mobility__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .mobility__img {
        position: unset;
        position: relative;
        right: -25px;
        margin-bottom: 56px;
    }
    .about__mobility-info {
        max-width: 573px;
    }
    .better__container {
        flex-direction: column;
    }
    .better__img {
        position: unset;
        position: relative;
        left: -80px;
        margin-bottom: 56px;
    }
    .about__better-info {
        max-width: 573px;
    }
    .values__list {
        flex-direction: column;
    }
    .values__item:not(:last-child) {
        margin-bottom: 55px;
    }
    .values__item-text {
        max-width: 457px;
        margin: 0 auto;
    }
    .faqs__how-works {
        flex-direction: column;
    }
    .faqs__how-work-title {
        margin: 0 auto;
        margin-bottom: 32px;
    }
    /* CAREERS PAGE  */
    .careers__title {
        margin-left: 50px;
    }
    .care__container {
        flex-direction: column-reverse;
    }
    .care__img {
        right: -30px;
        margin-bottom: 56px;
    }
    .careers__care-info {
        max-width: 573px;
    }
    /* LOCATION PAGE  */
    .location__title {
        margin-left: 50px;
    }
    .locations__map {
        width: 690px;
        height: 340px;
    }
    .locations__info .container {
        flex-direction: column;
        justify-content: center;
    }
    .locations__title {
        max-width: 457px;
        text-align: center;
    }
    .locations__text {
        max-width: 573px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .container {
        max-width: 83%;
    }
    .sitenav {
        display: none;
    }
    .sitenav__btn {
        display: none;
    }
    .sitenav__hamurger-menu {
        display: block;
    }
    .hero {
        padding-top: 115px;
        padding-bottom: 180px;
        background-image: var(--hero-mask), url(../image/hero-bg-image.png);
    }
    .hero__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.8px;
        margin-bottom: 24px;
    }
    .hero__info-last-image {
        display: none;
    }
    .hero__info {
        max-width: 83%;
        margin: 0 auto;
    }
    .hero__info-text {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    .hero__info-second-image {
        position: absolute;
        left: -340px;
        bottom: 35px;
    }
    .get-start__list {
        padding: 0;
    }
    .get-start::before {
        display: none;
    }
    .get-start__item {
        max-width: 311px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .get-start__text {
        text-align: center;
    }
    .get-start__title {
        text-align: center;
    }
    .info__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
    }
    .easy__img {
        width: 690px;
        height: 311px;
        right: -170px;
    }
    .coming__img {
        width: 690px;
        height: 311px;
    }
    .zero__img {
        width: 690px;
        height: 311px;
    }
    .sign-up {
        background-position: -610px 150px;
    }
    .sign-up__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
    }
    .site-footer {
        padding-top: 65px;
        padding-bottom: 90px;
    }
    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__list {
        margin: 0;
        margin-top: 40px;
        margin-bottom: 85px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__item:not(:last-child) {
        margin-bottom: 16px;
    }
    .footer__item:nth-child(1),
    .footer__item:nth-child(2) {
        margin-right: 0;
    }
    .footer__link {
        text-align: center;
        color: #939CAA;
    }
    .about-title img {
        display: none;
    }
    .about__title {
        margin: 0;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.8px;
    }
    .about-title {
        background-position: center center;
    }
    .about__mobility {
        padding-top: 72px;
        padding-bottom: 90px;
    }
    .about__better {
        padding-bottom: 120px;
    }
    .mobility__img {
        width: 520px;
        height: 311px;
        right: -30px;
    }
    .better__img {
        width: 420px;
        height: 311px;
        left: -60px;
    }
    .values {
        padding-top: 0;
        padding-bottom: 145px;
    }
    .values__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
        margin-bottom: 46px;
    }
    .values__item:not(:last-child) {
        margin-right: 0;
    }
    .faqs {
        padding-bottom: 120px;
    }
    .faqs__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
    }
    .faqs__how-work-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .faqs__btn {
        max-width: 311px;
        padding-right: 70px;
        font-size: 18px;
        line-height: 24px;
    }
    .careers__care {
        padding-top: 72px;
    }
    .care__img {
        width: 520px;
        height: 311px;
        right: -30px;
    }
    .offers__item {
        flex-direction: column;
    }
    .offers__item-info {
        justify-content: center;
    }
    .offers__item-title {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.8px;
    }
    .offers__item-btn {
        padding: 14px 92px;
        margin-top: 16px;
    }
    .locations__map {
        display: none;
    }
    .location__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.8px;
        margin-left: 50px;
    }
    .locations__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
    }
    .location__cities {
        display: flex;
    }
    /* START MENU  */
    .sitenav {
        height: 603px;
        width: 256px;
        display: none;
        position: absolute;
        top: 71px;
        left: -60px;
        background-color: var(--dark-navy);
        z-index: 1;
    }
    .sitenav__list {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 34px;
        padding-left: 32px;
        margin-bottom: auto;
    }
    .sitenav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .sitenav__link {
        text-align: left;
        color: var(--snow);
    }
    .sitenav__btn {
        display: none;
        position: absolute;
        top: 586px;
        z-index: 20;
    }
    .sitenav__btn:hover {
        background-color: transparent;
    }
    body {
        overflow-x: hidden;
    }
}